version: '3'

services:
    api:
        build:
            context: api
            args:
                NODE_VERSION: ${API_NODE_VERSION}
        container_name: peraklad_api
        tty: true
        stdin_open: true
        ports:
            - 4001:4000
        volumes:
            - ./api/code/:/var/www/html/:rw
        environment:
            - NEO4J_URI=${NEO4J_URI}
            - NEO4J_USER=${NEO4J_USER}
            - NEO4J_PASSWORD=${NEO4J_PASSWORD}
            - NEO4J_DATABASE=${NEO4J_DATABASE}
            - LOCALE=${LOCALE}
            - OMDB_API_KEY=${OMDB_API_KEY}
            - NODE_ENV=${NODE_ENV}
            - OPENSUBTITLES_UA=${OPENSUBTITLES_UA}
            - OPENSUBTITLES_USERNAME=${OPENSUBTITLES_USERNAME}
            - OPENSUBTITLES_PASSWORD=${OPENSUBTITLES_PASSWORD}
            - JWT_SECRET=${JWT_SECRET}
            - MY_AWS_ACCESS_KEY=${MY_AWS_ACCESS_KEY}
            - MY_AWS_ACCESS_KEY_SECRET=${MY_AWS_ACCESS_KEY_SECRET}
            - S3_BUCKET_RESOURCE=${S3_BUCKET_RESOURCE}
            - S3_BUCKET_AUTONOMY_WORK=${S3_BUCKET_AUTONOMY_WORK}
            - S3_BUCKET_POSTER=${S3_BUCKET_POSTER}
            - SMTP_MAIL=${SMTP_MAIL}
            - SMTP_PASSWORD=${SMTP_PASSWORD}
            - CLIENT_APP_URL=${REACT_APP_MAIN_URL}
            - SMS_API_KEY=${SMS_API_KEY}
            - SMS_API_SECRET=${SMS_API_SECRET}
            - GOOGLE_OAUTH2_CLIENT_ID=${GOOGLE_OAUTH2_CLIENT_ID}
            - GOOGLE_OAUTH2_CLIENT_SECRET=${GOOGLE_OAUTH2_CLIENT_SECRET}
            - FACEBOOK_APP_ID=${FACEBOOK_APP_ID}
            - FACEBOOK_APP_SECRET=${FACEBOOK_APP_SECRET}

    web:
        build:
            context: web
            args:
                NODE_VERSION: ${WEB_NODE_VERSION}
        container_name: peraklad_web
        tty: true
        stdin_open: true
        ports:
            - 3001:3000
        volumes:
            - ./web/code/:/var/www/html/:rw
        environment:
            - NODE_ENV=${NODE_ENV}
            - REACT_APP_API_URL=${REACT_APP_API_URL}
            - REACT_APP_MAIN_URL=${REACT_APP_MAIN_URL}
            - REACT_APP_MAINTENANCE_MODE=${REACT_APP_MAINTENANCE_MODE}
            - REACT_APP_RELEASE_AT=${REACT_APP_RELEASE_AT}
        depends_on:
            - api
